.choices__inner {
    background-color: #D9D9D9 !important;
    border-radius: 9999px !important;
    border: none !important;
    min-height: 48px !important;
    padding: 8px 16px !important;
}

.choices.is-focused .choices__inner {
    border: none !important;
    box-shadow: none !important;
}

.choices__list--dropdown {
    border-radius: 12px !important;
    border: 1px solid #ddd !important;
}

.choices__item {
    font-size: 14px;
}

.choices__inner:focus {
    outline: none !important;
}

.choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 8px !important;
}

.choices__input {
    background-color: transparent !important;
}

.choices[data-type*="select-multiple"] {
    position: relative;
}

.choices[data-type*="select-multiple"] .choices__inner {
    padding-right: 28px !important;
}

.choices[data-type*="select-multiple"]:after {
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #666 transparent transparent transparent;
    border-width: 5px 5px 2.5px;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -2.5px;
    pointer-events: none;
}
